@model BankSimulation.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.accounts.idAccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accounts.idAccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idClient }) |
    @Html.ActionLink("Back to List", "Index")
</p>
